header{padding:50px 0 0 0;}
header .container{display:grid;grid-template-columns:150px 30px;justify-content: space-between;align-items: center;}
header .container .logoContainer{}
header .container button{background: transparent;border:0;outline: none;}
header .container button svg{fill:#2f4feb;transition: all 300ms ease-in;}
header .container button:hover{cursor: pointer;}
header .container button:hover svg{fill:#fff;transform:rotateZ(90deg);}


#body{height: calc(100vh - 125px - 90px);}

footer{color:#fff;font-weight: 300;}
footer .container{display: grid;grid-template-columns: auto auto auto auto;justify-content: center;grid-gap:10px;align-items: center;text-align: center;}
footer .container #privacidad{color: #fff;text-decoration: none;position: relative;}
footer .container #privacidad:after{position:absolute;content:'';width:100%;height: 1px;background: #fff;bottom: 0;left:0;}
@media only screen and (max-width: 740px){
	footer .container{
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 360px){
	footer .container{
		grid-template-columns: auto;
	}
}